/* font style import */
@use './utils/variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* 
font-family:'Open Sans',serif;
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width:100vw;
  overflow-x: hidden;
  font-family: 'Open Sans',serif;
  background:variables.$body-bg;

  .App {
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
  }
}