@use '../../../utils/variables';

.user-details-wrapper {
    min-height: 100vh;
    width: 90vw;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 2rem;

    a#back {
        background: variables.$blue-light;
        color: #fff;
        padding: 0.3rem 0.7rem;
        border-radius: 0.4rem;
        font-size: 1.2rem;
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    .user-header {
        height: 30rem;
        width: 100%;
        margin: 0 auto;
        border: 1px solid variables.$dark-grey;
        border-radius: 0.7rem;
        background: #fff;


        .cover {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: 15rem;
            position: relative;
            // overflow: hidden;

            .cover-img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 0.7rem 0.7rem 0 0;
            }

            // profile picture
            .pfp-img {
                height: 8rem;
                width: 8rem;
                border-radius: 50%;
                position: absolute;
                left: 2rem;
                bottom: -4rem;
                box-shadow: 0 0 0 2px #fff, 0 0 0 4px variables.$blue-light;
            }

            // edit icon
            .edit-icon {
                position: absolute;
                font-size: 2rem;
                right: 1rem;
                bottom: 0.8rem;
                color: #fff;
                backdrop-filter: blur(2px);
                cursor: pointer;

                &:hover {
                    transform: scale(1.02);
                }
            }
        }

        .info {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.1rem;

            // name other details
            .info-left-wrap {
                height: 15rem;
                width: 50%;
                // background: mediumseagreen;
                padding: 1rem 2rem;
                padding-top: 5rem;

                .name {
                    font-weight: 600;
                    font-size: 1.3rem;
                }
            }

            // followers,following,counts
            .info-right-wrap {
                height: 15rem;
                width: 50%;
                // background: palegoldenrod;
                display: flex;
                justify-content: center;
                align-items: center;

                .numeric-items {
                    padding: 1rem;
                    // background-color: red;
                    margin: 0 0.5rem;
                    text-align: center;
                }
            }
        }
    }

    .profile-sections-ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 3rem;
        margin: 1rem 0;
        gap: 1rem;
        padding: 1rem 0.7rem;
        background: #fff;
        border-radius: 0.8rem;

        li {
            list-style: none;
            font-size: 1.1rem;
            cursor: pointer;

            &:hover {
                color: variables.$blue-light;
            }
        }
    }

    .options-analytics-flexbox {
        width: 90vw;
        min-height: 100vh;
        // background: magenta;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        h1 {
            text-align: center;
            margin: 1rem 0;
            font-size: 2rem;
        }

        // user profile analytics
        .profile-analytics{
            height:60rem;
            width: 35rem;
            // background: moccasin;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .chart-holder{
                display: flex;
                background: #fff;
                flex-direction: column;
                justify-content: flex-start;
                align-items:center;
                gap:1rem;
            }
        }

        // profile selectedComponents
        .profile-options {
            height: 100rem;
            width: 40%;
            padding: 1rem;
            // background-color: red;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            // fundraise-section
            .fundraise-section {
                .fund-item {
                    height: 22rem !important;
                    margin: 1rem 0;
                }

                a {
                    display: none;
                }

                p {
                    line-height: 1;
                }
            }
            // events-section
            .events-section{
                .event-item {
                    height: 22rem !important;
                    margin: 1rem 0;
                }
                a {
                    display: none;
                }p{
                    line-height: 1;
                }
            }
            // feeds-section
                .feed-footer{
                    // display: none;
                }
        }

    }


}