@use '../../utils/variables';

.user-navbar{
    background: #ffffff !important;
    box-shadow: none !important;
    height: 7rem;
    position:relative;
    .logo{  
        position:absolute;
        left:1rem;
        transform: scale(0.5);
     }
    div{
        display:flex;
        width:100%;
        height:100%;
    }

    ul{
        width:60%;
        height:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        // background:variables.$blue-accent;

        li {
            font-size: 1.25rem;
            margin:0 1rem;
            color:variables.$sooth-black;
            cursor:pointer;

            &:hover{
                border-bottom: 1px solid variables.$shadow;
                color:variables.$shadow;
            }
            &:visited{
                font-style: oblique;
            }
        }
        #logo{
            font-size: 2rem;
            color:variables.$blue-light;
            &:hover{
                border-bottom:none;
            }
        }
    }
    .logout{
        height:100%;
        width:5rem;
        position:absolute;
        right:1rem;
        display:grid;
        place-content: center;
        cursor:pointer;
        i{
            font-size:2rem;
            color:#000;
        }
    }
}