<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | Web server </title>
    <link rel="stylesheet"  type="text/css" href="/css/welcome.css">
</head>
<body>
    <div class="about-wrapper">
        <h1>Welcome to node js web server of Blossom Project</h1>
        <p>Blossom is a project which focuses on helping fundraises, charity, events organized by a person with a goodwill or a registered Non-governmental orgnaisation (NGO). This makes sure that the wish of generous people willing to help the under/ un-privilaged people are carried out in the most optimal manner such that the funds are collected not only in vicinity of the organizer but also in online mode through our platform.</p>
    </div>
</body>
</html>