<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | Web server </title>
    <link rel="stylesheet"  type="text/css" href="/css/welcome.css">
</head>
<body>
    <header>
        <h1>Welcome to web server of Helping-hand</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, veniam!</p>
    </header>
    <section class="middle-part">
       <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia facilis eum, architecto voluptatibus rerum dolorum. Distinctio, accusantium. Placeat, voluptatum deserunt?
       </p>
    </section>
</body>
</html>