@use '../../../utils/variables';

.banner-wrapper{
    min-height:100vh;
    width: fit-content;
    display: grid;
    place-content: center;
    padding:0.5rem;
    position: relative;
    gap:2rem;
    margin:2rem auto;


    .banner-slogan{
        height:20rem;
        width:fit-content;
        display: grid;
        place-content: center;
        margin:1rem auto;
        text-align: center;
        position: relative;

        h1{
            font-size: 2.5rem;
            font-weight:800;
            margin:1rem;
        }
        p{
            font-size: 1.5rem;
        }
    }

    .banner-illustration{
        min-height:25rem;
        border-radius: 1rem;
        box-shadow: 0 3px 18px variables.$shadow;
        width:100%;
        display: grid;
        place-content: center;
        position:relative;
        background:variables.$white;
        z-index: 10;

        .icons-container{
            width: fit-content;
            margin:0.5rem;
            padding:1rem;
            i{
                font-size: 2.5rem;
                margin:1rem;
                padding:0.5rem;

                &:nth-child(1){
                    color:variables.$warning;
                }
                &:nth-child(2){
                    color:variables.$positive;
                }
                &:nth-child(3){
                    color:variables.$blue-accent;
                }
            }
        }

        .illustration-caption{
            width:50%;
            padding:1rem;
            margin:0 2rem;
            h1{
                font-size: 2rem;
                margin:1rem 0;
                font-weight: 800;
            }
            p{
                font-size: 1.4rem;
            }
        }
        img{
            height:100%;
            max-width:25rem;
            position:absolute;
            right:1rem;
            top:0rem;
        }
    }
}

.platform-wrapper{
    min-height: 100vh;
    width: 100%;
    margin:1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1rem;
    gap:1rem;
    border-radius: 1rem;

    background: variables.$light-grey;
    @media screen and (max-width:1000px){
        flex-wrap: wrap;
    }

    h1{
        font-size: 2rem;
        margin:1rem 0;
        text-align: center;
        font-style: oblique;
    }
    .our-platform{
        min-height:30rem;
        width:35rem;
        // background:variables.$blue-light;

        @media  screen and (max-width:1000px){
            width: 30rem;
        }
        .platform-card{
            width:fit-content;
            margin:1rem auto;
            height:fit-content;
            padding:1rem;

            p{
                font-size: 1.3rem;
                color:variables.$dark-grey;
            }

            img{
                // padding:1rem;
                margin:2rem 0;
                height:25rem;
                border-radius: 0.8rem;
                width:100%;
                // box-shadow: 0 0 12px variables.$shadow;
            }
        }
    }
}