$title-lg:2.5rem;
$title-md:2rem;
$title-sm:1.65rem;
$body-bg:#fafafa;
$blue-accent:#0b0b9b;
$blue-light:#276ecc;
$positive:#0d7c0d;
$warning:#e0bc1a;
$danger:#ce1e1e;
$pink:#ff9faf;
$sooth-black:#181717;
$shadow:#797373;