$title-lg:2.5rem;
$title-md:2rem;
$title-sm:1.65rem;
$glass:#fcfcfc50;
$body-bg:#fafafa;
$white:#ffffff;
$fallback:#c3c3ec;
$dark-grey:#575252;
$light-grey:#fcfcfc;
$blue-accent:#0b0b9b;
$blue-light:#276ecc;
$bronze:#CD7F32;
$gold:#ffc400;
$platinum:#bae4db;
$card-bg:#92aac9;
$positive:#16a116;
$green-light:#7ad87a;
$warning:#e0bc1a;
$danger:#ce1e1e;
$pink:#ff9faf;
$sooth-black:#272525;
$shadow:#797373;