$title-lg:2.5rem;
$title-md:2rem;
$title-sm:1.65rem;
$glass:#fcfcfc50;
$body-bg:#d7f4f9;
$white:#ffffff;
$fallback:#c3c3ec;
$dark-grey:#575252;
$light-grey:#ebe8e8;
$blue-accent:#0b0b9b;
$blue-light:#0964da;
$bronze:#b56f2a;
$gold:#ffc400;
$platinum:#bae4db;
$card-bg:#92aac9;
$positive:#16a116;
$green-light:#7ad87a;
$warning:#f9e9a0;
$danger:#ce1e1e;
$love:#aa1b1b;
$pink:#ff9faf;
$sooth-black:#272525;
$shadow:#797373d7;
$shadow-light:#79737355;

$gradient-pinkish:linear-gradient(#b0f2e4ce,#ecacecae);