@use '../../utils/variables';

$card-width:23rem;
$profile-left-offset: $card-width/3.3333;

 .profile{
    width:$card-width;
    margin-top:1.8rem;
    height:fit-content;
    background:variables.$blue-light;
    border:none;
    border-radius: 1.2rem;
    color:#fff;

    .cover{
        height:7rem;
        position:relative;

        .cover-pic{
            max-height:7rem;
            width:100%;
            object-fit: cover;
            border-radius:1.2rem 1.2rem 0 0 ;
        }
        
        .profile-pic{
            height:5rem;
            width:5rem;
            border-radius: 50%;
            position:absolute;
            top:4rem;
            left:$profile-left-offset;
            border:3px solid #fff;
        }
    }
    .details{
        padding:2.2rem  1rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:0.5rem;

        h3{
            font-size: 1.5rem;
        }
        .email{
            font-size: 1.1rem
        }

        .count{

            width:100%;

            .count-slots{
                padding:0.8rem;
                width:100%;
                font-size: 1.15rem; 
                border:1px solid #fff;
                display: flex;
                justify-content: space-between;

                &:nth-child(1){
                    border-radius:1rem 1rem 0 0;
                }
                &:nth-child(4){
                    border-radius: 0 0 1rem 1rem;
                }   

                span{
                    font-size: 1.18rem;
                }
            }
        }
        button{
            border:none;
            border-radius: 1rem;
            margin:1rem auto;
            padding:1rem 1.2rem;
            font-size: 1.1rem;
            color:variables.$blue-accent;

            cursor:pointer;
            &:hover{
                filter: drop-shadow(0 0 5px #fff);
            }
        }
    }

}