@use '../../../utils/variables';

.fund-details-wrapper {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    position: relative;
    padding: 5rem 0;
    background: #ffffff71;

    &::before {
        content: "";
        position: absolute;
        left: 5rem;
        top: 20%;
        height: 20rem;
        width: 20rem;
        background: rgb(83, 83, 162);
        border-radius: 50%;
        z-index: -1;
        filter: blur(50px);
    }

    &::after {
        content: "";
        position: absolute;
        right: 4rem;
        top: 50%;
        height: 20rem;
        width: 20rem;
        background: blue;
        border-radius: 50%;
        z-index: -1;
        filter: blur(50px);
    }

    &>button {
        position: absolute;
        top: 1rem;
        left: 2rem;
    }

    &>h1 {
        font-size: 3rem;
        text-align: center;
    }

    &>h2 {
        font-size: 1.8rem;
        text-align: center;
        color: grey;
    }
    .details-subparent{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap:1rem;
        margin-top: 1rem;

        .donors-list{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 16rem;
            height: 25rem;
            background: variables.$blue-light;
            border: 2px solid #ececec;
            border-radius: 1rem;
            overflow-y: scroll;
            padding: 0 0.6rem;
            list-style: none;

            li{
                text-decoration: none;
                padding:0.5rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap:1rem;
                margin:0.1rem 0;
                &:hover{
                    background: #00000018;
                }
                img{
                    height: 3rem;
                    width: 3rem;
                    border-radius: 50%;
                    border: 1px solid white;
                    background: white;
                }
            }

            a{
                color:white;
            }
            &::-webkit-scrollbar{
                width: 0.4rem;
            }
            &::-webkit-scrollbar-track{
                background: #ececec ;
            }
            &::-webkit-scrollbar-thumb{
                color: variables.$blue-accent;
            }

        }

        .main-content {
            width: 25rem;
            padding:1rem 0.8rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background: variables.$blue-light;
            border-radius:1rem;
    
            img {
                height: auto;
                width: 21rem;
                margin: 0.8rem 0;
                object-fit: contain;
                border-radius: 1rem;
                box-shadow: 0 0 0 2px #fff, 0 0 0 4px #000;
            }
    
            p {
                padding: 0 1rem;
                font-size: 1rem;
            }
    
            h3,
            h4 {
                padding: 0 1rem;
                font-size: 1.3rem;
            }
    
            svg {
                font-size: 1.4rem;
                margin: 0 0.3rem;
                padding-top: 0.5rem;
            }
    
            .text-content {
                background: #fff;
                color: variables.$blue-accent;
                padding: 0.8rem;
                border-radius: 1rem;
            }
    
            .status {
                margin: 0.5rem 1rem;
                padding: 0.3rem 2rem;
                width: fit-content;
                color: #fff;
                border-radius: 0.8rem;
                font-size: 0.8rem;
            }
    
            .open {
                background: green;
            }
    
            .close {
                background: red;
            }
    
            .hold {
                background: variables.$gold;
            }
    
            // form
            form {
                font-size: 2rem;
                span{
                    margin:0 0.4rem;
                    font-weight: 600;
                }
    
                input {
                    height: 3rem;
                    width: 100%;
                    border: 1px solid grey;
                    outline: none;
                    font-size: 1.5rem;
                    text-indent: 0.2rem;
                    padding: 0.3rem;
                }
            }
    
        }

    }
    
}