@use '../../utils/variables';

.navbar-home{
    height:5rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: variables.$body-bg;

    &>a{
        font-size: 2rem;
        color:#2f2f2f;
    }

    ul{
        display: flex;
        justify-content: center;
        list-style: none;
        font-size: 1.35rem;

        li>a{
            color:#000000;
            padding:0.5rem;
            margin:0.8rem;

            &:hover{
                text-shadow: 0 -2px 10px #f8f839;
            }
        }
    }
}
