@use '../../utils/variables';

.blue-button{
    padding:0.6rem 0.8rem;
    width:fit-content;
    cursor:pointer;
    background: variables.$blue-light;
    color:#ffffff;
    font-size: 1.4rem;
    margin:1.5rem 1rem; 
    outline: none;
    border:none;
    border-radius: 0.4rem;

    &:hover{
        transform: scale(1.006);
        opacity: 0.8;
    }
}